rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isTeacher() {
      return request.auth != null && request.auth.token.teacher == true;
    }

    match /recordings/{allPaths=**} {
      allow read: if isTeacher();
      allow write: if false;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
